<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Rest Asured Learning ATB13x">
    <test verbose="2" preserve-order="true" name="C:/Users/Lenovo/IdeaProjects/ATB13xAPIAutomation">
        <classes>
            <class name="com.thetestingacademy.ex_02_TestNG_AllureReport.APITesting_Lab06_TestCase">
                <methods>
                    <include name="test_tc1_pincode_valid"/>
                    <include name="test_tc2_pincode_Invalid"/>
                    <include name="test_tc3_pincode_Invalid"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>